.button{
     width: 9rem; 
     height:2rem; 
     background-color: #F01C21;
     color: white;
     border-radius: 0.5rem;
     padding: 0.8rem 1rem;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     border: 1px solid #F01C21; 
     cursor: pointer;



}
