.mainContainer{
    width: 70%;
    margin: 0 auto; 
    padding-top: 2rem;
    
    &__box {
         display: flex;
         justify-content: center;
         align-items: center;

         & button{
             width: 9rem; 
             height: 2rem;
             padding: 1rem 1rem;
             display: flex;
             align-items: center;
             justify-content: center;
             margin: 1rem;
             border-radius: 8px;
             background: #FFF;
             box-shadow: 4px 4px 60px 0px rgba(0, 0, 0, 0.04);
             border: none;
             outline: none;
             cursor: pointer;
             border: 1px solid grey;

         }
         & button:hover{
             background-color: var(--primaryRed); 
             color: white
         }
    }
  

    &__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:3rem; 
        padding-top: 4rem;
    }
}